<script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script>
    $(document).ready(function(){
        $('#moviesTable').DataTable();
        $('#shortbutton').on('click',function(){

            personOne = $('#personone').val();
            personTwo = $('#persontwo').val();

            $.get( "/path/"+personOne+"/"+personTwo, function( data ) {
                console.log(data);
                var outputString = "";
                data.forEach(function(item){
                   outputString += item.name + " (" + item.type + ")<br/>";
                });
                $( "#shortoutput" ).html( outputString );
            });
        });

        $('.clickButton').on('click',function(){

            $.post( "/movie/delete",{'title':$(this).data('id')}, function( data ) {
                console.log(data);
                $('#deleteoutput').html(data);
            });
        });
    });
</script>

<h3>Add Movie</h3>
<form method="post" action="/movie/add">
  <label>Movie Title</label><br>
  <input type="text" name="title">
  <br>
  <label>Year</label><br>
  <input type="text" name="year">
  <br><br>
  <input type="submit" value="submit">
</form>

<h3>Add Person</h3>
<form method="post" action="/person/add">
  <label>Person Name</label><br>
  <input type="text" name="name">
  <br><br>
  <input type="submit" value="submit">
</form>

<h3>Add Actor to Movie</h3>
<form method="post" action="/movie/actor/add">
  <label>Movie Title</label><br>
  <input type="text" name="title">
  <br>
  <label>Actor Name</label><br>
  <input type="text" name="name">
  <br><br>
  <input type="submit" value="submit">
</form>

<h3>Movies</h3>
<table id="moviesTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Studio</th>
            <th>Run Time</th>
            <th>Description</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% movies.forEach(function(movie) { %>
        <tr style="pointer:cursor;">
            <td><%= movie.id %></td>
            <td><%= movie.title %></td>
            <td><%= movie.studio %></td>
            <td><%= movie.runtime %></td>
            <td><%= movie.description %></td>
            <td><%= movie.language %></td>
            <td><%= movie.genre %></td>
            <td>
                <button onclick="window.location='/movie/<%= movie.id %>'">View</button>
                <button class="clickButton" data-id="<%= movie.title %>">Delete</button>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>


<h3>People</h3>

<select id="personone">
    <% persons.forEach(function(person) { %>
    <option value="<%= person.name %>"><%= person.name %></option>
    <% }) %>
</select>

<select id="persontwo">
    <% persons.forEach(function(person) { %>
    <option value="<%= person.name %>"><%= person.name %></option>
    <% }) %>
</select>

<button id="shortbutton">Find shortest Path</button>

<div id="shortoutput"></div>
<div id="deleteoutput"></div>