

<h3>Movie: <%= movie.title %></h3>
<img src="<%= movie.imageUrl %>" alt="poster" />
<ul>
    <li>Title: <%= movie.title %></li>
    <li>Studio: <%= movie.studio %></li>
    <li>Run Time: <%= movie.runtime %></li>
    <li>Description: <%= movie.description %></li>
    <li>Language: <%= movie.language %></li>
    <li>Trailer: <%= movie.trailer %></li>
    <li>Genre: <%= movie.genre %></li>
</ul>


